<div class="p-mt-3">
  <p-card>
    <p-header>
      <button
        pButton
        pRipple
        type="button"
        label="Add Event"
        class="p-button-raised p-button-text p-ml-3 p-mt-3"
        icon="pi pi-plus"
        routerLink="/events/add-event"
      ></button>
    </p-header>
    <p-table
      [value]="events"
      [paginator]="true"
      [rows]="5"
      [showCurrentPageReport]="true"
      currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
      [rowsPerPageOptions]="[5, 10, 25]"
    >
      <ng-template pTemplate="header">
        <tr>
          <th pSortableColumn="type">
            Event Type <p-sortIcon field="type"></p-sortIcon>
          </th>
          <th pSortableColumn="date">
            Event Date <p-sortIcon field="date"></p-sortIcon>
          </th>
          <th>Event Detail</th>
          <th>Event is Full</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-event>
        <tr>
          <td>{{ event.type }}</td>
          <td>{{ event.date.toDate() | date }}</td>
          <td>
            <button
              pButton
              type="button"
              label="Details"
              class="p-button-raised p-button-info p-button-text"
              icon="pi pi-info-circle"
              styleClass="p-button-sm"
            ></button>
          </td>
          <td>
            <p-checkbox
              [binary]="true"
              [(ngModel)]="event.isFull"
              [disabled]="true"
            ></p-checkbox>
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="paginatorleft">
        <p-button
          type="button"
          icon="pi pi-plus"
          styleClass="p-button-text"
        ></p-button>
      </ng-template>
      <ng-template pTemplate="paginatorright">
        <p-button
          type="button"
          icon="pi pi-cloud"
          styleClass="p-button-text"
        ></p-button>
      </ng-template>
    </p-table>
  </p-card>
</div>
