<app-header [title]="headerTitle"></app-header>
<div>
  <form
    [formGroup]="volunteerForm"
    (ngSubmit)="onSubmit(volunteerForm)"
    novalidate
  >
    <p-card styleClass="p-card-shadow">
      <p-header class="p-text-center"><h4>Add Volunteer Form</h4></p-header>
      <p-accordion [multiple]="true">
        <p-accordionTab header="Personal Info">
          <div class="p-fluid p-formgrid p-grid">
            <div class="p-field p-col-12 p-md-4">
              <div class="p-inputgroup">
                <span class="p-inputgroup-addon"
                  ><i class="pi pi-user"></i
                ></span>
                <input
                  formControlName="firstName"
                  id="firstname"
                  type="text"
                  pInputText
                  placeholder="First Name"
                />
              </div>
            </div>
            <div class="p-field p-col-12 p-md-4">
              <div class="p-inputgroup">
                <span class="p-inputgroup-addon"
                  ><i class="pi pi-user"></i
                ></span>
                <input
                  formControlName="lastName"
                  id="lastname"
                  type="text"
                  pInputText
                  placeholder="Last Name"
                />
              </div>
            </div>
            <div class="p-field p-col-12 p-md-4">
              <p-dropdown
                [options]="allFamilyID"
                formControlName="familyID"
                optionLabel="familyID"
                placeholder="Enter Family ID"
                (onChange)="handleFamilyID($event)"
              >
              </p-dropdown>
            </div>
            <div class="p-field p-col-12 p-md-6">
              <div class="p-inputgroup">
                <span class="p-inputgroup-addon"
                  ><i class="pi pi-inbox"></i
                ></span>
                <input
                  formControlName="email"
                  id="vEmail"
                  type="text"
                  pInputText
                  placeholder="Email"
                />
              </div>
            </div>
            <div class="p-field p-col-12 p-md-6">
              <div class="p-inputgroup">
                <span class="p-inputgroup-addon"
                  ><i class="pi pi-mobile"></i
                ></span>
                <input
                  formControlName="phone"
                  id="vPhone"
                  type="text"
                  pInputText
                  placeholder="Phone"
                />
              </div>
            </div>

            <div class="p-col-12 p-lg-6 p-field-checkbox">
              <p-inputSwitch
                formControlName="isAvailable"
                inputId="availableSwitch"
              ></p-inputSwitch>
              <label for="availableSwitch">Is Available</label>
            </div>
            <div class="p-col-12 p-lg-6 p-field-checkbox">
              <p-inputSwitch
                formControlName="isAdmin"
                inputId="adminSwitch"
              ></p-inputSwitch>
              <label for="adminSwitch">Is Admin</label>
            </div>
          </div>
        </p-accordionTab>
        <p-accordionTab header="Address">
          <div class="p-fluid p-formgrid p-grid">
            <div class="p-field p-col-12 p-md-6">
              <label for="vAddress1">Address 1</label>
              <input
                formControlName="address1"
                id="vAddress1"
                type="text"
                pInputText
              />
            </div>
            <div class="p-field p-col-12 p-md-6">
              <label for="vAddress2">Address 2</label>
              <input
                formControlName="address2"
                id="vAddress2"
                type="text"
                pInputText
              />
            </div>
            <div class="p-field p-col-12 p-md-6">
              <label for="vCity">City</label>
              <input formControlName="city" id="vCity" type="text" pInputText />
            </div>
            <div class="p-field p-col-12 p-md-3">
              <label for="vState">State</label>
              <input
                formControlName="state"
                id="vState"
                type="text"
                pInputText
              />
            </div>
            <div class="p-field p-col-12 p-md-3">
              <label for="vZip">Zip</label>
              <input
                formControlName="zipcode"
                id="vZip"
                type="text"
                pInputText
              />
            </div>
          </div>
        </p-accordionTab>
        <p-accordionTab header="Available Event Types">
          <div class="p-grid">
            <div class="p-col-12 p-md-6 p-lg-3 p-field-checkbox">
              <p-inputSwitch
                formControlName="isSaturday"
                inputId="satSwitch"
              ></p-inputSwitch>
              <label for="satSwitch">Saturday</label>
            </div>
            <div class="p-col-12 p-md-6 p-lg-3 p-field-checkbox">
              <p-inputSwitch
                formControlName="isSundayEarly"
                inputId="sunEarlySwitch"
              ></p-inputSwitch>
              <label for="sunEarlySwitch">Sunday-Early</label>
            </div>
            <div class="p-col-12 p-md-6 p-lg-3 p-field-checkbox">
              <p-inputSwitch
                formControlName="isSundayLate"
                inputId="sunLateSwitch"
              ></p-inputSwitch>
              <label for="sunLateSwitch">Sunday-Late</label>
            </div>
            <div class="p-col-12 p-md-6 p-lg-3 p-field-checkbox">
              <p-inputSwitch
                formControlName="isWeekday"
                inputId="weekSwitch"
              ></p-inputSwitch>
              <label for="weekSwitch">Weekday</label>
            </div>
          </div>
        </p-accordionTab>
        <p-accordionTab header="Ministries">
          <div class="p-grid">
            <div class="p-col-12 p-md-6 p-lg-3 p-field-checkbox">
              <p-inputSwitch
                inputId="lectorSwitch"
                formControlName="isLector"
              ></p-inputSwitch>
              <label for="lectorSwitch">Lector</label>
            </div>
            <div class="p-col-12 p-md-6 p-lg-3 p-field-checkbox">
              <p-inputSwitch
                inputId="emohcSwitch"
                formControlName="isEMoHC"
              ></p-inputSwitch>
              <label for="emohcSwitch">EMoHC</label>
            </div>
            <div class="p-col-12 p-md-6 p-lg-3 p-field-checkbox">
              <p-inputSwitch
                inputId="cantorSwitch"
                formControlName="isCantor"
              ></p-inputSwitch>
              <label for="cantorSwitch">Cantor</label>
            </div>
            <div class="p-col-12 p-md-6 p-lg-3 p-field-checkbox">
              <p-inputSwitch
                inputId="usherSwitch"
                formControlName="isUsher"
              ></p-inputSwitch>
              <label for="usherSwitch">Usher</label>
            </div>
          </div>

          <div class="p-grid">
            <div class="p-col-12 p-md-6 p-lg-3 p-field-checkbox">
              <p-inputSwitch
                inputId="serverSwitch"
                formControlName="isServer"
              ></p-inputSwitch>
              <label for="serverSwitch">Server</label>
            </div>
            <div class="p-col-12 p-md-6 p-lg-3 p-field-checkbox">
              <p-inputSwitch
                inputId="giftsSwitch"
                formControlName="isGifts"
              ></p-inputSwitch>
              <label for="giftsSwitch">Gifts</label>
            </div>
            <div class="p-col-12 p-md-6 p-lg-3 p-field-checkbox">
              <p-inputSwitch
                inputId="childGiftSwitch"
                formControlName="isGiftsChild"
              ></p-inputSwitch>
              <label for="childGiftSwitch">Child Gifts</label>
            </div>
            <div class="p-col-12 p-md-6 p-lg-3 p-field-checkbox">
              <p-inputSwitch
                inputId="massCordSwitch"
                formControlName="isMassCoord"
              ></p-inputSwitch>
              <label for="massCordSwitch">Mass Coordinator</label>
            </div>
          </div>

          <div class="p-grid">
            <div class="p-col-12 p-md-6 p-lg-3 p-field-checkbox">
              <p-inputSwitch
                inputId="rosarySwitch"
                formControlName="isRosary"
              ></p-inputSwitch>
              <label for="rosarySwitch">Rosary</label>
            </div>
            <div class="p-col-12 p-md-6 p-lg-3 p-field-checkbox">
              <p-inputSwitch
                inputId="techSwitch"
                formControlName="isTech"
              ></p-inputSwitch>
              <label for="techSwitch">Technology</label>
            </div>
            <div class="p-col-12 p-md-6 p-lg-3 p-field-checkbox">
              <p-inputSwitch
                inputId="otherSwitch"
                formControlName="isOther"
              ></p-inputSwitch>
              <label for="otherSwitch">Other</label>
            </div>
            <div class="p-col-12 p-md-6 p-lg-3 p-field-checkbox"></div>
          </div>
        </p-accordionTab>
      </p-accordion>

      <ng-template pTemplate="footer">
        <div class="p-d-flex p-jc-between">
          <div>
            <button
              pButton
              label="Volunteers"
              icon="pi pi-arrow-circle-left"
              class="p-button-primary"
              routerLink="/volunteers"
            ></button>
          </div>
          <div>
            <button
              pButton
              label="Save"
              type="submit"
              value="Submit"
              class="p-button-success"
              icon="pi pi-check"
            ></button>
          </div>
          <div>
            <button
              pButton
              label="Cancel"
              icon="pi pi-times"
              class="p-button-danger"
              routerLink="/volunteers"
            ></button>
          </div>
        </div>
      </ng-template>
    </p-card>
  </form>
</div>
